body {
	background-color: #F1F1F1;
	font-size: 0.7em;
	color: #363636;
}

.ui-widget,.ui-widget .ui-widget {
	
}


#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
}

